body {
  font-family: Arial, sans-serif;
  background-color: #eeecec;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-box {
  background-color: #e4baba;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.signup-box h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #666;
}

.signup-option-text {
  margin-top: 20px;
  color: #666;
}

.signup-options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.signup-option-link {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-option-link:hover {
  background-color: #666;
  color: #fff;
}
